@use "../abstracts/mixins" as *;

.footer {
  background: $black;
  @include flex-container(column, nowrap, space-between, center);
  @include montserrat-font(500, 16px, 1.43, $white);
  @include responsive-spacing(
    padding,
    66px 0 58px 0,
    66px 0 29px 14px,
    66px 0 29px 0
  );

  @include respond-to(tablet) {
    gap: 18px;
  }

  @include respond-to(desktop) {
    gap: 28.56px;
  }

  &__copyright {
    @include montserrat-font(500, 12px, 1.43, $white);
    @include responsive-size(font-size, 12px, 18px, 24px);
    @include responsive-size(max-width, 120px, 180px, none);

    & {
      text-align: center;
      margin-top: 14px;
    }
  }
}
