@use "../abstracts/mixins" as *;
// Styles du footer
.footer {
  background: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column nowrap;
  font-family: "Montserrat", sans-serif;
  color: #fff;

  // Style commun
  &__copyright {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    line-height: 1.43;
    letter-spacing: 0;
    text-align: center;
    margin-top: 14px;
    color: #fff;
  }

  @include respond-to(mobile) {
    padding: 66px 0 58px 0;
    &__copyright {
      font-size: 12px;
      max-width: 120px;
    }
  }

  @include respond-to(tablet) {
    padding: 66px 0 29px 14px;
    gap: 18px;
    &__copyright {
      font-size: 18px;
      max-width: 180px;
    }
  }

  @include respond-to(desktop) {
    padding: 66px 0 29px 0;
    gap: 28.56px;
    &__copyright {
      font-size: 24px;
      max-width: none;
    }
  }
}
