@use "../abstracts/mixins" as *;

.header {
  background: $white;
  width: 100%;
  @include flex-container(row, nowrap, space-between, center);
  @include responsive-spacing(
    padding,
    20px 20px 27px,
    32px 50px 35px,
    45px 100px 50px
  );

  &__logo {
    @include responsive-size(width, 145px, 180px, 210.32px);
    @include responsive-size(height, 46.88px, 58px, 68px);
  }

  &__nav {
    @include flex-container(row, nowrap, flex-end, center);
  }

  &__nav-link {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    @include montserrat-font(500, 12px, 1.43, $black);
    @include responsive-size(font-size, 12px, 18px, 24px);
    @include responsive-size(margin-left, 26px, 40px, 57px);
    @include responsive-size(height, 17px, 26px, 34px);

    @include respond-to(desktop) {
      text-transform: capitalize;
    }

    &.active {
      text-decoration: underline;
    }
  }
}
