@use "sass:map";
@use "../abstracts/mixins" as *;
@use "../abstracts/functions" as *;
@use "../abstracts/variables" as *;

.banner {
  position: relative;
  margin: 0 auto;
  border-radius: map.get($border-radius, xxl);
  overflow: hidden;
  background-size: cover;
  background-position: center;

  @include flex-container(row, nowrap, flex-start, center);
  @include responsive-size(height, 111px, 180px, 223px);
  @include responsive-percentage-width("banner");

  @include respond-to(tablet) {
    justify-content: center;
  }

  @include respond-to(desktop) {
    justify-content: center;
  }

  &--home {
    @include respond-to(tablet) {
      @include component-shadow("banner");
    }

    @include respond-to(desktop) {
      @include component-shadow("banner");
    }
  }

  &::after {
    @include overlay(rgba-overlay($black, $opacity-overlay), $z-index-base);
  }

  &__text {
    position: relative;
    z-index: 2;
    text-align: left;
    margin-left: 16px;
    @include montserrat-font(700, 24px, 1, $white);
    @include responsive-font-size(24px, 32px, 48px);

    @include respond-to(tablet) {
      line-height: 1.2;
      text-align: center;
      margin-left: 0;
      @include text-effects($stroke-light);
    }

    @include respond-to(desktop) {
      margin-left: 0;
      line-height: 1.43;
      @include text-effects($stroke-heavy, $shadow-text);
    }
  }

  & br {
    display: block;

    @include respond-to(desktop) {
      display: none;
    }
  }
}
