@use "sass:map";
@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.collapse {
  position: relative;
  @include responsive-property(
    min-width,
    335px,
    90%,
    map.get($layout-percentages, collapse-desktop)
  );
  @include responsive-property(
    max-width,
    335px,
    90%,
    map.get($layout-percentages, collapse-desktop)
  );

  &--about {
    @include responsive-property(
      width,
      80%,
      map.get($layout-percentages, collapse-tablet),
      map.get($layout-percentages, collapse-desktop)
    );
  }

  &--logement {
    margin-bottom: map.get($spacing-scale, md);

    @include responsive-property(
      min-width,
      100%,
      100%,
      map.get($layout-percentages, logement-desktop-collapse)
    );
    @include responsive-property(
      max-width,
      100%,
      100%,
      map.get($layout-percentages, logement-desktop-collapse)
    );

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.collapse__toggle {
  z-index: $z-index-overlay;
  width: 100%;
  margin: 0 0 -5px 0;
  border: none;
  border-radius: map.get($border-radius, xs);
  background: $primary-color;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  @include responsive-property(height, 30px, 47px, 52px);
  @include responsive-property(
    padding,
    0 16px 0 13px,
    0 18px 0 15px,
    0 20px 0 18px
  );
  @include transition(all, 0.2s, ease);

  &:focus {
    outline: none;
  }

  &--logement {
    @include responsive-property(
      padding,
      10px 18px 10px 10px,
      12px 20px 12px 12px,
      15px 22px 15px 15px
    );
  }
}

.collapse__text {
  @include montserrat-font(700, 13px, 1.43, $white);
  @include responsive-font-size(13px, 18px, 24px);
}

.collapse__arrow {
  color: $white;
  transform: rotate(0deg) !important;
  transition: transform 0.3s ease !important;

  @include responsive-property(width, 16px, 24px, 24px);

  &--open {
    transform: rotate(-180deg) !important;
  }
}

.collapse__content {
  background: $secondary-color;
  border-radius: 0 0 map.get($border-radius, xs) map.get($border-radius, xs);
  max-height: 0 !important;
  overflow: hidden !important;
  padding: 0 20px !important;
  transition: all 0.3s ease !important;

  @include montserrat-font(400, 12px, 1.43, $text-color);
  @include responsive-font-size(12px, 15px, 18px);

  @include respond-to(tablet) {
    border-radius: 0 0 map.get($border-radius, sm) map.get($border-radius, sm);
    padding: 0 20px !important;
  }

  @include respond-to(desktop) {
    border-radius: 0 0 map.get($border-radius, md) map.get($border-radius, md);
    padding: 0 20px !important;
  }

  &--open {
    max-height: 200px !important;
    padding: 21px 20px 18px !important;

    @include respond-to(tablet) {
      max-height: 250px !important;
      padding: 21px 20px 19px !important;
    }

    @include respond-to(desktop) {
      max-height: 300px !important;
      padding: 21px 20px 20px !important;
    }
  }

  p {
    margin: 0;
  }

  ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
  }

  li {
    margin-bottom: 0;

    @include montserrat-font(400, 12px, 1.43, $text-color);
    @include responsive-font-size(12px, 15px, 18px);
  }
}
