@use "sass:map";
@use "../abstracts/mixins" as *;

.collapse-container {
  margin: 19px auto;
  row-gap: map.get($spacing-scale, md);
  @include flex-container(column, nowrap, center, center);

  @include respond-to(tablet) {
    margin: 38px auto;
    row-gap: map.get($spacing-scale, lg);
  }
}
