@use "sass:map";
@use "../abstracts/mixins" as *;
@use "../abstracts/functions" as *;
@use "../abstracts/variables" as *;

.cards-container {
  display: grid;
  grid-template-columns: minmax(280px, 340px);
  gap: map.get($spacing-scale, md);
  max-width: 375px;
  width: 100%;
  margin: 22px auto 27px;
  padding: 17px;
  background-color: $white;
  justify-content: center;

  @include custom-breakpoint($breakpoint-376, $breakpoint-768) {
    grid-template-columns: minmax(340px, 450px);
    gap: clamp-value(map.get($spacing-scale, md), 3vw, 35px);
    max-width: 95vw;
    margin: 25px auto 35px;
    padding: clamp-value(17px, 4vw, map.get($spacing-scale, lg));
    background-color: $secondary-color;
    border-radius: map.get($border-radius, lg);
  }

  @include respond-to(tablet) {
    grid-template-columns: repeat(2, minmax(300px, 400px));
    gap: map.get($spacing-scale, xl);
    max-width: 90vw;
    margin: 32px auto 35px;
    padding: 24px map.get($spacing-scale, md);
    background-color: $secondary-color;
    border-radius: map.get($border-radius, xl);
  }

  @include respond-to(desktop) {
    grid-template-columns: repeat(3, minmax(300px, 340px));
    gap: map.get($spacing-scale, xxl) map.get($spacing-scale, xxl);
    max-width: 1240px;
    margin: 43px auto 50px;
    padding: 56px 50px;
    background-color: $secondary-color;
    border-radius: map.get($border-radius, xxl);

    @include custom-breakpoint(null, $breakpoint-1280) {
      grid-template-columns: repeat(2, minmax(320px, 380px));
      gap: map.get($spacing-scale, xl);
      max-width: 85vw;
      margin: 35px auto 45px;
      padding: map.get($spacing-scale, xl) map.get($spacing-scale, lg);
    }

    @include custom-breakpoint($breakpoint-1440) {
      grid-template-columns: repeat(3, 340px);
    }
  }
}
