@use "sass:map";
@use "../abstracts/mixins" as *;
@use "../abstracts/functions" as *;
@use "../abstracts/variables" as *;

.logement {
  width: 100%;
  max-width: 100%;
  @include responsive-spacing(margin, 0 0 27px 0, 0 0 35px 0, 0 0 50px 0);
  @include responsive-spacing(padding, 0 20px, 0 50px, 0 100px);
  @include flex-container(column, nowrap);

  &__details {
    @include responsive-spacing(margin-top, 15px, 20px, 24px);
    @include flex-container(column, nowrap);

    @include respond-to(tablet) {
      flex-direction: row;
      justify-content: space-between;
    }
    @include respond-to(desktop) {
      flex-direction: row;
      justify-content: space-between;
    }

    &-info {
      gap: map.get($spacing-scale, xs);
      @include flex-container(column, nowrap);
      @include responsive-spacing(margin-top, 0, 4px, 6px);
    }

    &-title {
      width: 100%;
      vertical-align: bottom;
      @include montserrat-font(500, 18px, 1.43, $primary-color);
      @include responsive-size(font-size, 18px, 28px, 36px);
    }

    &-location {
      width: 100%;
      vertical-align: bottom;
      @include montserrat-font(500, 14px, 1.43, $black);
      @include responsive-size(font-size, 14px, 16px, 18px);
      @include responsive-size(height, 22px, 24px, 26px);
    }

    &-tags {
      display: flex;
      flex-wrap: wrap;
      gap: map.get($spacing-scale, md);
      @include responsive-spacing(margin-top, 10px, 15px, 20px);
    }

    &-tag {
      @include tag-style($primary-color, $white);
    }
  }

  &__meta {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    row-gap: 0;

    @include respond-to(tablet) {
      flex-flow: column nowrap;
      margin-top: 0;
      row-gap: map.get($spacing-scale, lg);
      justify-content: flex-start;
    }

    @include respond-to(desktop) {
      row-gap: 27px;
      flex-flow: column nowrap;
    }
  }

  &__host {
    display: flex;
    align-items: center;

    &-name {
      letter-spacing: 0;
      text-align: right;
      vertical-align: bottom;
      width: get-value($host-config, name-width);
      white-space: pre-line;
      word-wrap: break-word;
      @include montserrat-font(500, 12px, 1.43, $primary-color);
      @include responsive-size(font-size, 12px, 15px, 18px);
    }

    &-picture {
      @include circular-image(32px, 48px, 64px);
      @include responsive-spacing(
        margin-left,
        get-value($host-config, margin-mobile),
        get-value($host-config, margin-tablet),
        get-value($host-config, margin-desktop)
      );
    }
  }

  &__rating {
    display: flex;
    @include responsive-spacing(gap, 5px, 10px, 16px);
  }

  &__star {
    @include responsive-size(width, 13.41px, 18px, 24.75px);
    @include responsive-size(height, 13px, 17px, 24px);
  }

  &__collapse-container {
    @include responsive-spacing(margin-top, 13px, 18px, 24px);

    @include respond-to(tablet) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    @include respond-to(desktop) {
      display: flex;
      flex-direction: row;
      align-items: start;
      justify-content: space-between;
    }
  }
}
