@use "../abstracts/mixins" as *;
@use "../abstracts/functions" as *;
@use "../abstracts/variables" as *;

.not-found {
  @include flex-center(column);

  &__title {
    @include montserrat-font(700, 96px, 1.43, $primary-color);
    @include responsive-spacing(
      margin-top,
      get-value($margins-notfound, mobile),
      get-value($margins-notfound, tablet),
      get-value($margins-notfound, desktop)
    );
    @include responsive-size(font-size, 96px, 180px, 288px);
  }

  &__text {
    text-align: center;
    @include montserrat-font(500, 18px, 1.43, $primary-color);
    @include responsive-spacing(
      margin-top,
      get-value($margins-notfound, mobile),
      get-value($margins-notfound, tablet),
      get-value($margins-notfound, desktop)
    );
    @include responsive-size(font-size, 18px, 24px, 36px);
    @include responsive-size(max-width, 260px, 400px, none);

    & br {
      display: block;

      @include respond-to(desktop) {
        display: none;
      }
    }
  }

  &__link {
    text-decoration: underline;
    @include montserrat-font(500, 14px, 1.43, $black);
    @include responsive-spacing(
      margin,
      get-value($margins-notfound, mobile) 0,
      get-value($margins-notfound, tablet) 0,
      get-value($margins-notfound, desktop) 0
    );
    @include responsive-size(font-size, 14px, 16px, 18px);
  }
}
